
.login {
    width: 500px;
    padding: 10% 0 0;
    margin: auto;
    border-radius: 5px;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(35, 2, 2, 0.24);
    border-radius: 5px;
}

.form input {
    font-family: "Lato", sans-serif;
    outline: 0;
    background: ghostwhite;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 5px;
}


.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Стиль ссылок внутри панели навигации */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Изменение цвета ссылок при наведении курсора */
.topnav a:hover {
    background-color: red;
    color: black;
}

/* Добавить цвет для активной/текущей ссылки */
.topnav a:active {
    background-color: red;
    color: white;
}

.error h1 {
    color: red;
}

.post {
    width: 500px;
}

.form input:hover, .form button:active, .form button:focus {
    background: lightgrey;
}

body {
    background: ghostwhite;
}
